@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "../../mixins.scss";

.preference-setting-modal {
  > .custom-modal-content {
    > .custom-modal-body {
      @include country-list-container();
      padding-top: 0;
      .country-badges-wrapper {
        position: sticky;
        top: 0;
        z-index: 1;
        margin-bottom: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        > .country-badges-container {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
