.my-home {
  flex-grow: 1;
}

.body-dark {
  background-color: #302f2f;
}

.my-home-container {
  transition: background-color 0.5s;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .container {
    margin: auto;
    width: 100%;
  }
}
