nav {
  .container-fluid {
    .navbar-brand {
      h2 {
        font-weight: 800;
      }
      small {
        font-weight: 300;
        font-size: 0.8rem;
      }
    }
    .nav-tools {
      display: flex;
      align-items: center;
      .form-check {
        margin-bottom: 0;
        input {
          cursor: pointer;
        }
      }
      .setting-icon {
        font-size: 1.2rem;
        margin-left: 1rem;
        cursor: pointer;
      }
    }
  }
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 437px) {
  nav {
    .container-fluid {
      .nav-tools {
        .form-check-label {
          display: none;
        }
      }
    }
  }
  .sidebar {
    .sidebar-toggle {
      margin-left: 0.5rem;
    }
  }
}
