nav {
  .container-fluid {
    .navbar-brand {
      h2 {
        font-weight: 800;
      }
      small {
        font-weight: 300;
        font-size: 0.8rem;
      }
    }
  }
  transition: background-color 0.5s ease;
}
